/*universal style*/

body{
  font-size: 18px;
  line-height: 1.4;
}

header{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  height: 30rem;
  padding-top: 1rem;
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
}

  .head{
    display: flex;
    background-color: cadetblue;
    padding:1rem 2rem;
    width: 960px;
    margin:auto;
    align-items: center;
  }


  .text{
    display: inline-block;
    background-color: white;
    padding:1.5rem 5rem;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 10rem;
    margin-right: -2rem;
    float: right;
  }

  .logo span{
    font-family: Helvetica;
    font-size: 1rem;
    color:white;
  }

  .logo img{
    height:1.5rem;
    margin-right: 1rem;
  }

  .menu ul{
    margin-right: 1rem;
    color: white;
  }


  .menu li{
    display: inline-block;
    padding: 0 1rem;
  }


   /*icon*/
   .icon{
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
   }

   .paper{
     display: flex;
     flex-direction: column;
   }

   .ruler{
     display: flex;
     flex-direction: column;
     margin-left: 6rem;
   }

   .truck{
     display: flex;
     flex-direction: column;
     margin-left: 6rem;
   }
  /*content*/
  .content{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
  }

  .info{
    margin-right: 5%;
    width: 35%;
  }

  .Philosophy span{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    width: 10rem;
  }

  .Appointments span{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: cadetblue;
    padding: 0.5rem 1.25rem;
    width: 10rem;
  }

   /*footer*/
   footer {
     background-color: azure;
     display: flex;
     align-items: center;
     padding:4rem 2rem;
     width: 960px;
     margin: auto;
   }

   footer img{
     margin-left: 2rem;
     margin-right: 1rem;
     height:1.5rem;
   }
